{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/kalcinho/"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/kalcinho/"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/milan-kalcic-b146b7120/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/kalcinho"><img src="{% static 'images/GitHub-Mark-32px.png' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="javascript:void(0)" target="_blank">kalcinho Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->